.jumbotron {
    background-image: url("../images/NOAA.jpg");
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
}

/* .picture {
    background-image: url("../images/Nasa.jpg");
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
} */